@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;

  --color-primary-50: #f2f7f4;
  --color-primary-100: #e0efe6;
  --color-primary-200: #c2dfce;
  --color-primary-300: #9bc5ac;
  --color-primary-400: #6ca683;
  --color-primary-500: #468862;
  --color-primary-600: #2c4a3a;
  --color-primary-700: #233b2e;
  --color-primary-800: #1a2c22;
  --color-primary-900: #111d17;
  --color-primary-950: #080f0b;

  --color-neutral-50: #1a1a1a;
  --color-neutral-100: #2a2a2a;
  --color-neutral-200: #3c3a36;
  --color-neutral-300: #5d5b54;
  --color-neutral-400: #7d7a71;
  --color-neutral-500: #9e9a90;
  --color-neutral-600: #bebaaf;
  --color-neutral-700: #dcd7cd;
  --color-neutral-800: #ebebeb;
  --color-neutral-900: #fbf9f0;
  --color-neutral-950: #ffffff;

  --animate-fade-in: fadeIn 0.3s ease-in-out;

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
